header {
    width: 100%;
    padding-top: 16px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    li {
        margin-left: 24px;
    }
}

.logo {
    max-width: 88px;
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
    color: $gray-3;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    transition: .7s ease-in-out;
    &::after {
        content: '';
        transition: .4s ease-in;
        display: block;
        position: absolute;
        top: -40px;
        left: 50%;
        width: 2px;
        height: 0px;
        background: linear-gradient(180deg, rgba(255, 29, 34, 0) 0%, #E91D22 100%);
    }
    &:hover {
        &::after {
            height: 40px;
        }
        color: $white-light;
    }
    @include responsive() {
        display: none;
    }
}

.nav-social {
    display: flex;
    margin-left: 530px;
    svg {
        margin-left: 16px;
        width: 24px;
        cursor: pointer;
        path,
        circle {
            transition: .4s ease;
        }
        &:hover {
            path,
            circle {
                fill: $red-light;
                transform: translate3d(0, -4px, 0);
            }
        }
    }
    @include responsive() {
        margin-left: 120px;
    }
}